.holdingtype-asset.ant-segmented,
.holdingtype-liability.ant-segmented {
    font-weight: bold;
}

.holdingtype-asset.ant-segmented {
    --ant-segmented-item-selected-color: #73d13d;
}

.holdingtype-liability.ant-segmented {
    --ant-segmented-item-selected-color: #fa541c;
}
